<link
  rel="stylesheet"
  href="https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css"
/>
<link
  rel="stylesheet"
  href="https://cdn-uicons.flaticon.com/2.5.1/uicons-bold-rounded/css/uicons-bold-rounded.css"
/>
<nav class="w-full flex justify-between p-3">
  <div class="text-3xl font-semibold">Student Portal</div>
  <button
    (click)="openStudentModel()"
    class="bg-gray-700 transition-colors duration-300 transform text-white hover:bg-gray-600 focus:outline-none focus:bg-gray-600 rounded-md mr-2 px-4 py-2"
  >
    Add New
  </button>
</nav>

<!-- ++ ++ +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ ++++++++++++++ +++++++++++++++++++++++++++++++++++++++++   CREATE NEW STUDENT   +++++++++++++++++ +++++++++++++++ ++++++ ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<section
  id="createStudentModel"
  class="hidden  max-w-4xl center border-1 mx-auto border-gray-600 p-6 bg-white rounded-md shadow-md dark:bg-gray-800"
>
  <h2 class="text-3xl font-semibold text-gray-700 capitalize dark:text-white">
    Add new Student
  </h2>

  <form>
    <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
      <div>
        <label class="text-gray-700 dark:text-gray-200" for="username"
          >Student Name</label
        >
        <input
          [(ngModel)]="studentObj.name"
          placeholder="Student Name"
          name="name"
          type="text"
          class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
        />
      </div>

      <div>
        <label class="text-gray-700 dark:text-gray-200" for="emailAddress"
          >Email</label
        >
        <input
          [(ngModel)]="studentObj.email"
          placeholder="Email"
          name="email"
          type="email"
          class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
        />
      </div>

      <div>
        <label class="text-gray-700 dark:text-gray-200" for="password"
          >Mobile No</label
        >
        <input
          [(ngModel)]="studentObj.mobileNo"
          placeholder="Mobile No"
          name="mobileNo"
          type="tel"
          maxlength="10"
          class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
        />
      </div>

      <div>
        <label
          class="text-gray-700 dark:text-gray-200"
          for="passwordConfirmation"
          >City</label
        >
        <input
          [(ngModel)]="studentObj.city"
          placeholder="City"
          name="city"
          type="text"
          class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
        />
      </div>

      <div>
        <label
          class="text-gray-700 dark:text-gray-200"
          for="passwordConfirmation"
          >Address</label
        >
        <input
          [(ngModel)]="studentObj.address"
          placeholder="Address"
          name="address"
          type="text"
          class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
        />
      </div>

      <div>
        <label class="text-gray-700 dark:text-gray-200" for="password"
          >Pincode
        </label>
        <input
          [(ngModel)]="studentObj.pincode"
          placeholder="Pincode"
          name="pincode"
          type="tel"
          maxlength="6"
          class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
        />
      </div>
    </div>

    <div class="flex justify-end gap-2 mt-6">
      <button
        (click)="closeModel()"
        class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform rounded-md bg-red-500 hover:bg-red-600 focus:bg-red-400"
      >
        Cancel
      </button>
      <button
        (click)="addStudent()"
        class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-md focus:bg-gray-600 hover:bg-gray-800"
      >
        Add
      </button>
    </div>
  </form>
</section>

<!-- ++ ++ +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ ++++++++++++++ +++++++++++++++++++++++++++++++++++++++++STUDENT CARD    +++++++++++++++++ +++++++++++++++ ++++++ ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<div class="grid grid-cols-12 gap-4 m-3">
  @for (student of studentList; track $index) {
  <div
    class="w-100 col-span-12 md:col-span-6 lg:col-span-4 overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800"
  >
    <div class="px-6 py-4">
      <h1 class="text-xl font-semibold text-gray-800 dark:text-white">
        {{ student.name }}
      </h1>
      <div class="grid grid-cols-2 gap-2 mt-4">
        <div class="flex">
          <i class="fi fi-br-phone-call pt-[4px]"></i>
          <span class="ml-2">{{ student.mobileNo }}</span>
        </div>
        <div class="flex">
          <i class="fi fi-br-envelope pt-[4px]"></i>
          <span class="ml-2">{{ student.email }}</span>
        </div>
        <div class="flex">
          <i class="fi fi-br-marker pt-[4px]"></i>
          <span class="ml-2">{{ student.city }}</span>
        </div>
        <div class="flex">
          <i class="fi fi-br-map-pin pt-[4px]"></i>
          <span class="ml-2">{{ student.pincode }}</span>
        </div>
        <div class="flex col-span-2">
          <i class="fi fi-br-map-pin pt-[4px]"></i>
          <span class="ml-2">{{ student.address }}.</span>
        </div>
      </div>
      <div class="h-[1px] w-full bg-black my-4"></div>
      <div class="grid grid-cols-2 gap-2 mt-4">
        <button
          class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none"
        >
          Edit</button
        ><button
          class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-red-500 rounded-md hover:bg-red-600 focus:outline-none"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
  }
</div>

<router-outlet />

<!-- 
Name 
contact no
Email
city
address
pincode
-->
