<link
  rel="stylesheet"
  href="https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css"
/>
<link
  rel="stylesheet"
  href="https://cdn-uicons.flaticon.com/2.5.1/uicons-bold-rounded/css/uicons-bold-rounded.css"
/>
<nav class="w-full flex justify-between p-3">
  <div class="text-3xl font-semibold">Student Portal</div>
  <button
    class="bg-gray-700 transition-colors duration-300 transform text-white hover:bg-gray-600 focus:outline-none focus:bg-gray-600 rounded-md mr-2 px-4 py-2"
  >
    Add New
  </button>
</nav>

<section
  class="max-w-4xl p-6 mx-auto bg-white rounded-md shadow-md dark:bg-gray-800"
>
  <h2 class="text-3xl font-semibold text-gray-700 capitalize dark:text-white">
    Add new Student
  </h2>

  <form>
    <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
      <div>
        <label class="text-gray-700 dark:text-gray-200" for="username"
          >Username</label
        >
        <input
          id="username"
          type="text"
          class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
        />
      </div>

      <div>
        <label class="text-gray-700 dark:text-gray-200" for="emailAddress"
          >Email Address</label
        >
        <input
          id="emailAddress"
          type="email"
          class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
        />
      </div>

      <div>
        <label class="text-gray-700 dark:text-gray-200" for="password"
          >Password</label
        >
        <input
          id="password"
          type="password"
          class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
        />
      </div>

      <div>
        <label
          class="text-gray-700 dark:text-gray-200"
          for="passwordConfirmation"
          >Password Confirmation</label
        >
        <input
          id="passwordConfirmation"
          type="password"
          class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
        />
      </div>
    </div>

    <div class="flex justify-end mt-6">
      <button
        class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600"
      >
        Save
      </button>
    </div>
  </form>
</section>

<!-- ++ ++ +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ ++++++++++++++ +++++++++++++++++++++++++++++++++++++++++STUDENT CARD    +++++++++++++++++ +++++++++++++++ ++++++ ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<div
  class="w-full max-w-sm overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800"
>
  <div class="px-6 py-4">
    <h1 class="text-xl font-semibold text-gray-800 dark:text-white">
      Student Name
    </h1>
    <div class="grid grid-cols-2 gap-2 mt-4">
      <div class="flex">
        <i class="fi fi-br-phone-call pt-[4px]"></i>
        <span class="ml-2">8798798798</span>
      </div>
      <div class="flex">
        <i class="fi fi-br-envelope pt-[4px]"></i>
        <span class="ml-2">example.com</span>
      </div>
      <div class="flex">
        <i class="fi fi-br-marker pt-[4px]"></i>
        <span class="ml-2">City</span>
      </div>
      <div class="flex">
        <i class="fi fi-br-map-pin pt-[4px]"></i>
        <span class="ml-2">Pincode</span>
      </div>
      <div class="flex col-span-2">
        <i class="fi fi-br-map-pin pt-[4px]"></i>
        <span class="ml-2"
          >Full address of the student will be appear here.</span
        >
      </div>
    </div>
    <div class="h-[1px] w-full bg-black my-4"></div>
    <div class="grid grid-cols-2 gap-2 mt-4">
      <button
        class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none"
      >
        Edit</button
      ><button
        class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-red-500 rounded-md hover:bg-red-600 focus:outline-none"
      >
        Delete
      </button>
    </div>
  </div>
</div>
<router-outlet />

<!-- 
Name 
contact no
Email
city
address
pincode
-->



